<h1>新規ブログが投稿されました！</h1>
<h4>title: <%= @blog.title %></h4>
<h4>content: <%= @blog.content %></h4>
<h4>image: <%= @blog.image %></h4>



<!-- <h1>お問い合わせが完了しました！</h1>
<h4>name:  @blog.name </h4>
<h4>お問い合わせ内容の確認</h4>
<p>content:  @blog.content </p> -->
