// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // height: 100%;
  // text-align: center;
  background-image: url("cloud.jpg");
  background-position: center;
}


.main-header {
  background-color: #00FFFF

}

.footer {
  background-color: #00FFFF;
  font: #666;
  text-align: center;

}
